.carousel-indicators button {
    z-index: 1000;
}

.carousel-item {
    position: relative;
    width: 100%;
    height: 800px;
}

.bg1-content-wrapper {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1000;
    height: 800px;
    width: 100%;
    background-image: url('../image/slider/1.jpg');
    background-size: 100% 100%;
    box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.2);
}

.bg1-curly-text {
    margin-top: 20px;
    font-family: DancingScript !important;
    font-size: 99px;
    font-weight: 900;
    color: #016E01;
    text-align: center;
}

.bg1-hard-wrapper {
    width: 1100px;
}

.bg1-hard-text {
    margin-top: 20px;
    text-align: center;
    font-size: 39px;
    font-weight: 900;
    color: white;
}

.bg1-note-help {
    margin-top: 20px;
    display: block;
    width: 440px;
}

.bg1-note-help ul li {
    color: black;
    font-weight: 700;
    font-size: 21px;
}

.bg1-note-help ul {
    list-style-type: "⭐";
}

.bg2-content-wrapper {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1000;
    height: 800px;
    width: 100%;
    background-image: url('../image/slider/2.jpg');
    background-size: 100% 100%;
}

.bg2-hard-text {
    text-align: center;
    font-size: 69px;
    font-weight: 900;
    color: white;
}

.bg2-curly-text {
    margin-top: 30px;
    font-family: DancingScript !important;
    font-size: 51px;
    font-weight: 900;
    color: #016E01;
    text-align: center;
}

.bg3-content-wrapper {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    height: 800px;
    width: 100%;
    background-image: url('../image/slider/3.jpg');
    background-size: 100% 100%;
}

.phone-number {
    margin-top: 30px;
    background: #357D2B;
    border-radius: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    height: 20px;
    padding: 20px;
    font-size: 21px;
}