<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
<link rel="stylesheet" href="../css/style.css">
</head>
<body>
<div class="header">
    <div class="header-baner">
        <div class="header-bg"></div>
        <p>TỔNG ĐẠI LÝ BIA HƠI TUYÊN QUANG PHƯƠNG HƯƠNG</p>
        </div>
    </div>
    <div class="header-menu">
        <img class="img-logo" src="../image/logo.png" alt="logo">
        <div class="menu-group">
            <div class="menu-item">GIỚI THIỆU</div>
            <div class="menu-item">SẢN PHẨM</div>
            <div class="menu-item">HỖ TRỢ ĐỒ DÙNG</div>
        </div>
    </div>
</div>

</body>
</html>